{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ],
    "extends": [
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "rules": { 
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "no-console": 1,
        "prettier/prettier": 1
    }
  }